@charset:"UTF-8";
.banner604{
    position:relative;
}
.banner604 a{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 604px;
    background: url(../images/banner.jpg) no-repeat top center;
}
.main{
    position:relative;
}
.slider{
    width:730px;
    height: 453px;
    margin-left:220px;
    margin-top: 12px;
    background-color: pink;
    float:left;
    position: relative;
}
.slider .circle{
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -66px;
}
.circle li{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #3E3E3E;
    float: left;
    line-height: 18px;
    margin: 0 2px;
    text-align: center;
    color: #fff;
    cursor:pointer;
}
.circle li.current{
    background-color: #b61b1f;
}
.arrow-l,.arrow-r{
    position: absolute;
    height: 62px;
    width: 28px;
    top: 50%;
    margin-top: -31px;
    color: #fff;
    font: 500 18px/62px "宋体";
    text-align: center;
    background: rgba(0,0,0,.2);
}
.arrow-r{
    right:0;
}
.arrow-l{
    left:0;
}
.arrow-l:hover,.arrow-r:hover{
    background: rgba(0,0,0,.4);
    color:#fff;
}
.news{
    width: 248px;
    height: 451px;
    border: 1px solid #e4e4e4;
    float:right;
    margin-top: 12px;
}
.jd-news{
    height: 200px;
    border-bottom: 1px dashed #E4E4E4;  /*虚线*/
}
.jd-news .dt,.jd-life .dt{
    height: 43px;
    border-bottom: 1px dotted #E8E8E7; /*点线*/
    line-height: 43px;
}
.jd-news .dt h3 ,.jd-life .dt h3{
    float: left;
    font: 14px/43px "microsoft yahei";
    color: #666;
    padding-left: 15px;
}
.jd-news .dt a{
    float: right;
    font: 13px/43px "宋体";
    margin-right:15px;
}
.jd-news .dd ul {
    padding: 8px 0 0 15px;
}
.jd-news .dd li {
    line-height: 28px;
}
.jd-news .dd li span {
    font-weight: 700;
    margin-right: 5px;
}
.jd-life {
    height:251px;
    overflow: hidden;
    width: 248px;
}
.jd-life ul{
    width: 252px;
}
.jd-life .dd li{
    width: 62px;
    height: 70px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    float: left;
    margin-left: -1px;
}
.jd-life li a{
    display: block;
    height: 70px;
    text-align: center;
    padding-top: 44px;
    position: relative;
}
.jd-life  li  i{
    position: absolute;
    top:12px;
    left:18px;
    width: 25px;
    height: 25px;
    background: url(../images/jdlife-icon.png) no-repeat right top;
}
.jd-life-icon2 a i{
    background-position: right -25px;
}
.jd-life-icon3 a i{
    background-position: right -50px;
}
.jd-life-icon4 a i{
    background-position: right -75px;
}
.jd-life-icon5 a i{
    background-position: right -100px;
}
.jd-life-icon6 a i{
    background-position: right -125px;
}
.jd-life-icon7 a i{
    background-position: right -150px;
}
.jd-life-icon8 a i{
    background-position: right -175px;
}
.jd-life-icon9 a i{
    background-position: right -200px;
}
.jd-life-icon10 a i{
    background-position: right -225px;
}
.jd-life-icon11 a i{
    background-position: right -250px;
}
.jd-life-icon12 a i{
    background-position: right bottom;
}
.jd-life .mian{
    background: url(../images/mian.png) no-repeat right top;
}
.jd-life .song{
    background: url(../images/song.png) no-repeat right top;
}
.jd-life .new{
    background: url(../images/new.jpg) no-repeat right top;
}
.activity{
    position: relative;
}
.night{
    margin: 10px 0 28px 0;
}
.night-r{
    width: 999px;
    height: 160px;
    float: right;
}
.night-r ul{
    width:500%;
}
.night-r li{
    float: left;
    margin-left: 1px;
}